* {
    box-sizing: border-box;
}

:root {
    --font-type: Arial, Helvetica, sans-serif;
 
    --color-zero: #06021d;
    --color-one: #414579;
    --color-two: #3e3bff;
    --color-three: #0095ff;
    --color-four: #1abbc9;
    --color-five: #d5d8f8;


}

body {
    font-family: var(--font-type);
    font-weight: bold;
    text-align: center;
    background-color: var(--color-zero);
}

header,
footer {
    height: 80px;
    padding: 22px;
    background-color: var(--color-one);
    color: var(--color-five)
}

header {
    font-size: 30px;
}

footer {
    font-size: 16px;
}

.top-container {
    background-color: var(--color-one);
    display: flex;
    justify-content: center;

}

.top-container h2 {
    margin: 10px;
    color: var(--color-five);
}

h2 {
    font-size: 16px;
}

.controls-container {
    background-color: var(--color-zero);
}

.board-container {
    width: 50vw;
    height: 30vw;
    margin: 30px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 40px;
    /* border: 1px solid black; */
}

.sky {
    background-color: var(--color-zero)
}

.ground {
    background-color: var(--color-two)
}

.hero img {
    width: 40px;
}

.alien img {
    width: 30px;
 }

.laser img {
    width: 10px;
}

.super-laser img {
    width: 30px;
}

.modal {
    position: fixed;

    background-color: none;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 .msg {
    color: var(--color-five);
    font-size: 100px;
    font-weight: bolder;
    user-select: none;
    pointer-events: none;
}


.hidden {
    display: none;
}

.start-btn {
    margin-top: 20px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--color-four);
    color: var(--color-five);
    border: var(--color-five) solid 4px;
    border-radius: 20px;
    font-weight: bolder;
}

.start-btn img {
    width: 12px;
}

.restart-btn {
    margin-top: 20px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--color-four);
    color: var(--color-five);
    border: var(--color-five) solid 4px;
    border-radius: 20px;
    font-weight: bolder;
}

.restart-btn img {
    width: 12px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;

}